header
    .container.cont-16.fluid    
        .row
            .col-full
                .navbar
                    .brand-hero.clearfix.brand-fixed
                        a.brand-hero-holder(href='index.html')
                            .img-bg-holder.brand-logo
                        .hamburger-holder
                            a.hamburger-menu.mobile-nav.js-hamburger-menu(href="javascript:void(0);" onclick='return false')
                                span.line
                                span.line
                                span.line
                                span.sr-only Toggle Navigation
                    .brand-menu.js-menu-navigation
                        .menu-list.txt-center
                            ul.menu
                                li
                                    a.nav-menu(href="#about-us")
                                        span.navi.font-25.txt-uppercase About Us
                                li
                                    a.nav-menu(href="#how-we-work")
                                        span.navi.font-25.txt-uppercase How We Work
                                li
                                    a.nav-menu(href="#services")
                                        span.navi.font-25.txt-uppercase Our Services
                                li
                                    a.nav-menu(href="#contact")
                                        span.navi.font-25.txt-uppercase Contact Us 
