section.services#services.clearfix
    .container.cont-16.fluid
        .row
            .col-full
                .content-height
                    .heading.head-spacing.js-reveal-up
                        span.font-15.txt-uppercase Our Services
                    .main-heading.main-spacing.js-reveal-up
                        span.font-40.txt-capatilize We provide customised app &amp; development services across major tech platforms.
        .row
            .col-3.col-mx.js-reveal-up
                .img-holder.js-img-delay-01
                    img(src= imgPath + "bg/img-01.png", alt="alt")
                .list.list-spacing.txt-center.js-txt-delay-01
                    span.font-14.txt-capatilize User Journey narration and conceptualization
            .col-3.col-mx.js-reveal-up
                .img-holder.js-img-delay-02
                    img(src= imgPath + "bg/img-02.png", alt="alt")
                .list.list-spacing.txt-center.js-txt-delay-02
                    span.font-14.txt-capatilize Software and Platforms development, integration and customization
            .col-3.col-mx.js-reveal-up
                .img-holder.js-img-delay-03
                    img(src= imgPath + "bg/img-03.png", alt="alt")
                .list.list-spacing.txt-center.js-txt-delay-03
                    span.font-14.txt-capatilize Systems and Networks setup and architecting
            .col-3.col-mx.js-reveal-up
                .img-holder.js-img-delay-04
                    img(src= imgPath + "bg/img-04.png", alt="alt")
                .list.list-spacing.txt-center.js-txt-delay-04
                    span.font-14.txt-capatilize Cloud, Hybrid management
            .col-3.js-reveal-up
                .img-holder.js-img-delay-05
                    img(src= imgPath + "bg/img-05.png", alt="alt")
                .list.list-spacing.txt-center.js-txt-delay-05
                    span.font-14.txt-capatilize Managed Services
